# /etc/systemd/system/grafana.service

[Unit]
Description=Grafana
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=simple
MemoryHigh=180M
MemoryMax=256M
ExecStart=/usr/sbin/grafana-server \
    --config=/etc/grafana/grafana.ini \
    --homepath=/usr/share/grafana

[Install]
WantedBy=multi-user.target
