# /etc/systemd/system/loki.service

[Unit]
Description=Grafana Loki
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/opt/loki/loki -config.file /opt/loki/loki-config.yaml

[Install]
WantedBy=multi-user.target
