# /etc/systemd/system/loki.service

[Unit]
Description=Grafana Loki
Wants=network-online.target
After=network-online.target

[Service]
User=__RUN_USER__
Group=__RUN_USER__
Type=simple
MemoryHigh=300M
MemoryMax=384M
ExecStart=/opt/loki/loki -config.file /opt/loki/loki-config.yaml

[Install]
WantedBy=multi-user.target
